@model WebApp.Models.ApplicationRole

@{
    ViewBag.Title = "Create Role";
}

<h2>Create Role</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <button type="submit" class="btn btn-primary">Create</button>

    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
}